*{
    padding: 0;
    margin: 0;
}

#header{
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
    position: relative;

     
}
nav{
    margin-top: 5px;

}
nav ul li{
    display:inline;
    align-items: center;
    padding: 0 20px;
    margin-right: 20px;
    cursor: pointer;

}
nav ul a {
    color: #000;
 text-decoration: none;
  font-size: 17px; 
}
  a#Home:active{
content:'';
    color: green;

}
#logo div{
 justify-content: center;
    /* align-content: center; */
}
#logo img{
    width: 50px;
    
}
button{
    background-color: green;
    color: white;
    padding:  5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.top{
    display: flex;
    justify-content: space-evenly;
    margin:20px 0  50px 0;
}

.text{
    width: 50%;
}
.text h1{
    line-height: 2.5rem;
    font-size: 30px;
    margin: 0px 0 0 50px;
    text-align: justify;
    
}
.text h1 img{
    width: 30px;
}
.text p{
text-align: justify;
margin: 20px 0 0 50px;
width: 75%;
}

.text span{
    color: rgb(3, 146, 3);
}
#purchase{
    display: flex;
     margin: 20px 0 0 50px;
     
}
#puchase button{
    border-radius: 2px;
}

    
#play i{
    margin-left: 15px;
    color: orange;
    font-size: 25px;

}
#i{
    color: #000;
    margin-left: 10px;

    
    
}
 #fa{
position: absolute;
top: 15rem;
left: -30px;
background-color:beige;
padding: 10px 0 0 20px;
font-size: 25px;
border-radius: 5px;

}
#fa i{
    margin-left: -12px;
    color: black;
}
#menu,#close{
    display: none;
}

.image{
 position: relative;   
}
.image img{
    width: 40vw;
}

#delivery{
    background-color: orange;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 8px;
    right: 30px;
    padding: 10px 20px 0 20px ;
    border-radius: 5px;
}
#delivery h4{
    margin-top: 10px;
}
#delivery p{
    margin-top: 2px;
}
.middle{
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    width: 90%;
    /* justify-content: center; */
    align-content: center;
    /* background-color: pink; */

}

.middle img{
    width: 3vw;
    /* margin-bottom: 10px; */
}
.categories{
    display: flex;
    /* justify-items: center; */
    align-items:center ;

}
.middle button{
    background-color: transparent;
    color: green;
    border: 2px solid green ;
    margin-top: 8px;
}
.middle button span{
    margin-right: 10px;
    font-weight: 500;
}
.middle button i{
color: green;
font-size: 5px;
}
.boxes{
    display: flex;
    margin:20px 30px 0 40px;
}
.box{
    width: 20%;
    margin: auto;
    text-align: center; 
    padding: 40px 0 10px; 
}
.box img{
    width: 40%;
}
.box p{
    margin-top: 10px;
}
#meat{
    background-color: rgb(243, 209, 164);
}
#vegetable{
    background-color: rgb(241, 188, 241);
}
#fresh-nuts{
    background-color: rgb(200, 239, 161);
}
#spices{
    background-color: rgb(247, 247, 180);
}
.bottom{
    background-image:linear-gradient(to right,rgb(251, 230, 206),rgb(255,255,255),rgba(251, 230, 206) );
    margin-top: 40px;

}
#bottom{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
}
.bottom img{
    width:40vw;
    filter: drop-shadow(40px 40px 20px rgb(180, 239, 180));  
}
.best{
    margin-top: 10px;

}
.best h1, p{
    margin: 20px 0;
}
#best{
 margin-top: 30px;
}
#best p{
    margin-top: 10px;
}
#best i{
    color: green;
    margin-right
    : 5px;
}
#best button{
    padding: 10px 20px;
    margin-top: 15px;
}
footer{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    background-color: rgb(3, 48, 3);
    color: white;
    padding: 10px;
}
footer i{
    margin:10px 5px 0 0;
}
footer h4{
    margin-top: 30px;
}
 #para{
    line-height: 20px;
}
footer img{
    width: 4vw;
    margin-top: 20px;
    /* color: white; */
}
#contact-us h4{
    margin-bottom: 10px ;
}
#contact-us div i{
    margin: 10px;
    /* text-align:justify; */
}
@media(max-width:700px){
    
#header{
    display: block;
}
nav {
    display: none;
    background-color: rgb(51, 161, 51);
    padding: 10px 0;
    
}
.header-R{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}
#menu{
    display: block;
}


 nav ul li{
        display:block;
        justify-content: space-between;
        margin-top: 10px;
        right: 200px;
        font-size: 14px;
        
 }
 nav ul button{
margin: 10px 0 0 10px;


}
nav ul a{
    color: #fff;
}
.top{
    display: block;
}
.text{
    width: 100%;
}
.text p{
 margin-top: 0;
}
#play i{
    font-size: 15px;
}
#purchase button{
    font-size: 14px;
}
.image img{
    width: 100%;
    margin-top: 20px;
}
#fa{
/* top: 10rem; */
    padding: 10px 20px;
    font-size: 14px;
    margin-left: 50px;
}
#fa i{
    margin-left: -8px;
}
.middle img{
    width: 5vw;
}
.categories{
    margin-top: 10px;
}
.middle button i{
    font-size: 14px;
}
.boxes{
 display: block; 
 margin: auto; 
 
}
.box{
    width: 90%;
 margin-top: 20px ;

}
.bottom{
    margin-top: 0;
    text-align: center;
}
#bottom{
    display: block;
    margin: 10px 0 ;
    width: 100%;
    text-align: center;
}
.bottom img{
    width: 90vw;
}
.best {
    text-align: center;
width: 100%;
}
#best button{
    margin-bottom: 20px;
}
footer {
    display: block;
    text-align: center;
    font-size: 14px;

}
footer img{
    width:10vw
}
footer p{
    margin:5px 0 0 0;
}
#contact-us div i{
    margin:5px;
}

}
/* }
 }
    nav ul a{
        font-size: 14px;
    }
    nav{
     position: absolute; 
        height: 100vh;
        width: 200px;
        top: 0;
        z-index: 2;
        text-align: left
    }
  
    .top{
        display: block;
        margin-top: 20px;
    }
    .text{
        width: 100%;
    }
    .top h1,p{
       
       text-align: center;
    }
    .image{
        width: 100%
    }  */